:root{
	--background-gradient: linear-gradient(315deg, rgb(27,236,235), rgb(7,239,131));
	--background-color: #F0F0F0; /* Un whitesmoke plus prononcé */
	--background-color-box: white;
	--search-color: rgb(18,238,180);

	--border-radius: 5px;

	--space-around-box: 20px;

	--width-icon: 30px;
	--height-search: 20px; /* inclut le font-size et la hauteur de l'icon de la loupe */ 
	--height-icon-loupe: 24px; /* Attention à bien choisir la valeur pour que l'alignement se conserve */ 
}

strong{
	--color: black;
}

:root{ /* Lovinsky peux-tu changer le nom de cette variable, on ne sait pas à quoi elle sert */
    --humbie-color : #2CE4CA;
}