
form input {
    display: block;
    width: 100%;
    margin-bottom:30px ;
    border: none;
    border-bottom: #0fe8ba 2px ridge;
    outline: none;
}
form input:hover, form input:focus{
    background-color: rgba(15,232,186,0.1);
    display: block;
}

fieldset
{
    margin-top: 50px;
    width: fit-content;
    width: 25%;
	display: block;
	position: relative;
	left:50%;
	transform: translate(-50%);
    width: fit-content;
    border-radius: 20px;
    box-shadow: #0fe8ba 0px 1px 1px 1px;

}
legend{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20;
}
 #submit{
	margin-bottom: 30px;
	background-color: #0fe8ba;
	color: white;
	border-radius: 5px;
}
#submit:hover{
background-color: rgba(80,250,256,0.9);

}
#reset{
    width: fit-content;
    color: black;
}
select{
    display: block;
    border: #0fe8ba 2px ridge;
    outline: none;
}
select option{
    background-color: rgba(15,232,186,0.2);
    outline: none;
}
fieldset span{
    font-weight: 500;
}




