/* ===========================
   FEUILLE DE STYLES DU FOOTER
   =========================== */

footer {
	text-align: center;
	/* modif qui permet au footer de rester en bas de page*/
	position: fixed;/* Ou relative si l'on tient à voir le footer juste avant la fin du body*/
	bottom: 1px;
	left: 50%;
	width: 100%;
	transform: translate(-50%);
	background-color: var(--background-gradient);
	margin-top: 100px;
}

/* Style de la barre de navigation dans le footer */

#footer_nav {
	margin: 0;
  	padding: 0;
  	list-style: none;
}

#footer_nav li {
	display: inline;
	margin-right: 1px;
  	/*border: 1px dotted #600;*/
}

#footer_nav li a {
	padding: 4px 20px;
	background: #FFFFFF;
	color: #000000;
	/*border: 1px dotted #600;*/
	font: 1em "Trebuchet MS",Arial,sans-serif;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
}

#footer_nav li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #FFA500; /* Orange */
  background: linear-gradient(rgb(27,236,235), rgb(7,239,131)); /* Valeurs prisent sur le logo de Humbie */
  text-decoration: underline;
}
/*
#lang{
	border: 0px dotted #600;
}
*/