/* ===========================
   FEUILLE DE STYLES DU FOOTER
   =========================== */

footer {
	text-align: center;
	/* modif qui permet au footer de rester en bas de page*/
	position: relative;/* Ou relative si l'on tient à voir le footer juste avant la fin du body*/
	bottom: 1px;
	left: 50%;
	width: 100%;
	transform: translate(-50%);
	margin-top: 100px;
	font-family: Bahnschrift;
	background-color: black;
	height: 50px;
}

/* Style de la barre de navigation dans le footer */

#footer_nav {
	margin: 0;
  	padding: 0;
  	list-style: none;
}

#footer_nav li {
	display: inline;
	margin-right: 1px;
	
  	/*border: 1px dotted #600;*/
}

#footer_nav li a {
	position: relative;
	top: 13px;
	padding: 0px 4%;
	color: white;
	/*border: 1px dotted #600;*/
	font: 1em  "Bahnschrift light";
	line-height: 1em;
	text-align: center;
	text-decoration: underline;
}

#footer_nav li a:hover, #navigation li a:focus, #navigation li a:active {
  color: #0fe8ba;
}
