/* ===========================
   FEUILLE DE STYLES DU HEADER
   =========================== */
#header-grid{
	font: 18px  "Bahnschrift light";
}
   header[id="header-grid"]{
	display: grid;
	grid-template-columns: 70px 50fr  10fr; /* full arbitraire */
	padding: 5px; /* Pour avoir un taille environ égal à celle du header secondaire (titres/modules) */
	/*padding-right: 65px;*/ /* Correction d'un bug */
	background-color: white;

	/*text-align: center; k*/
}

div.cell-header{
	position: relative;
	padding: 10px;
	text-decoration: none;

	/*border: 1px solid green;*/
}

div.cell-header img{
	position: absolute;
	top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
}

div[id="cell-header-profil"] img{
	position: absolute;
    top:  50%;
    left: 10px;
	transform: translate(0%,-50%); /* (x,y) */

}

/* Barre de recherche */
.search{
	display: flex;

}

.searchBar{

	margin: 0;
	padding: 5px;
	padding-left: 10px;
	font-size: var(--height-search);
	color: #464646;
	height: 20px;
	width: fit-content;

	border: 3px solid var(--search-color);
	border-right: none;
	border-radius: 17px 0 0 17px;



}
.searchBar:focus{
	outline: none; /* Retire le contour bleu lors du focus */
}

.searchBar1{
	height: 36px;
	background-color: var(--search-color);
}
.searchBar2{
	border-left: none;
	border-radius: 0px;

}

.searchBar1 option {
    background-color: var(--humbie-color);
    color: black;
}

.searchBar1:hover{
	background-color:  rgba(18,238,180,0.4);
}
#loupe{
	margin: 0;
	padding: 0;
	height: 30px;
	width: auto;

	text-align: center;

	background: white;
	border: 3px solid var(--search-color);
	border-left: none;
	border-radius: 0 17px 17px 0;


	cursor: pointer; /* Icone de la souris au survol de l'élément */
}


/* Cellule du profil */
#header-profil-grid{
	/*text-align: center;*/
	position: relative;
	margin-left: -10%;

	display: grid;
	grid-template-columns: 50px 1fr 1fr; /* 3 colonnes qui prennent chacune une 'fraction' de l'espace disponible */
	grid-template-rows: 50px ; /* 1 lignes qui prennent chacune une 'fraction' de l'espace disponible */
	grid-template-areas: "photo name deco"

}
/* Placement des cellules de la grid ci-dessus */
#box-photo      { grid-area: photo;}
#box-nom        { grid-area: name;}
#box-deconexion { grid-area: deco;}

.icon{
	width: var(--width-icon);
	height: auto;
	/*border: 1px solid black; /* Pour visualiser le block */
}

#showSearch li{
	/*background-color:  rgba(18,238,180,0.3);*/
	border-bottom: 1px rgba( 50,50,50,0.1) solid;
	border-top:  1px rgba( 50,50,50,0.1) solid;
	padding-bottom: 10px;
	text-align: center;
}

#cell-header-search form{

	display: flex;
	flex-direction: column;
	width: fit-content;
}
#showSearch{

	border: none;
	list-style: none;
	width:45%;
	margin-left: 45%;
	color: black;
	font-weight: bold;

}
#cell-header-search {

	position: relative;
	top: 15%;
	left: 5%;
}


#box-deconnexion, #box-nom{
	margin-left: 30px;
}
#box-nom{
	font-size: 20px;
	position: relative;
	top: 20px;
	width: 150px;
	color: #464646;
}
#box-deconnexion{
	position: relative;
	top: 13px;


}
#button-deconnexion{
	background-color: #0fe8ba;
	color: white;
	border: none;
	border-radius: 17px;
	height: 34px;
}
#box-photo{
	position: relative;
	top: 5px;

}

#cell-header-profil a {
	text-decoration: none;
}
#cell-header-profil a:hover{
	text-decoration: underline 3px #0fe8ba;
}
#cell-header-home img{
	width: 50px;
	height: auto;
}