/* ===========================
   FEUILLE DE STYLES DU HEADER
   =========================== */

header[id="header-grid"]{
	display: grid;
	grid-template-columns: 70px 5fr 50px 1fr; /* full arbitraire */

	margin: var(--space-around-box);
	padding: 10px; /* Pour avoir un taille environ égal à celle du header secondaire (titres/modules) */
	/*padding-right: 65px;*/ /* Correction d'un bug */

	border-radius: var(--border-radius);
	background-color: white;

	/*text-align: center;*/
}

div.cell-header{
	position: relative;

	padding: 10px;

	/*border: 1px solid green;*/
}

div.cell-header img{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div[id="cell-header-profil"] img{
	position: absolute;
    top:  50%;
    left: 10px;
    transform: translate(0%,-50%); /* (x,y) */
}

/* Barre de recherche */
.search{
	display: flex;
}

#searchBar{
	margin: 0;
	padding: 5px;

	font-size: var(--height-search);
	height: var(--height-search);
	width: 30%;

	border: 3px solid var(--search-color);
	border-right: none;
	border-radius: 5px 0 0 5px;
}
#searchBar:focus{
	outline: none; /* Retire le contour bleu lors du focus */
}

#loupe{
	margin: 0;
	padding: 5px;

	height: var(--height-icon-loupe);
	width: auto;

	text-align: center;

	background: var(--search-color);
	border: 1px solid var(--search-color);
	border-radius: 0 5px 5px 0;

	cursor: pointer; /* Icone de la souris au survol de l'élément */
}


/* Cellule du profil */
#header-profil-grid{
	/*text-align: center;*/

	display: grid;
	grid-template-columns: 50px 1fr; /* 2 colonnes qui prennent chacune une 'fraction' de l'espace disponible */
	grid-template-rows: 1fr 1fr; /* 2 lignes qui prennent chacune une 'fraction' de l'espace disponible */
	grid-template-areas: "photo name"
						 "photo deco"
}
/* Placement des cellules de la grid ci-dessus */
#box-photo      { grid-area: photo;}
#box-nom        { grid-area: name;}
#box-deconexion { grid-area: deco;}

.icon{
	width: var(--width-icon);
	height: auto;
	/*border: 1px solid black; /* Pour visualiser le block */
}
