body{
    overflow-wrap: break-word;
    background: url("../images/background.jpg");
}

main{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 40%;
}

h1{
    text-align: center;
    color: black ;
}

fieldset{
    width: fit-content;
    border: 2px ridge #2CE4CA;
    box-shadow:   3px 2px 2px mediumslateblue;
}

p{
    text-align: justify;
}

input{
    background-color: whitesmoke;
}

legend{

    font-variant: small-caps;
    font-size: 1.3em;
    font-weight: bolder;
}

#newPsw{
    font-size: 0.8em;
    color: blueviolet;
    padding-left: 10%;
}

#confirm{
    border-right: 4px ridge mediumslateblue;
    border-left: 4px ridge #2CE4CA;
}

#tryAgain{
    width: fit-content;
    padding-left: 3%;
    display: none;
}

body{
    display: flex;
    flex-direction: column;
}


