/* ********************************************************* */

body {
	overflow-wrap: break-word;
	padding: 0;
	margin: 0;


}

/* Style de la barre de navigation du menu */



#navigation {
	width: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li {
	background: whitesmoke;
	color: #fff;
	border: 1px solid #00BFFF;
	margin-bottom: 1px;
}

#navigation li a {
	display: block;
	background: whitesmoke;
	color: green;
	font: 1em "Trebuchet MS",Arial,sans-serif;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	padding: 4px 0;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
	background: rgb(220,220,220); /* Blanc grisé (un peu plus grisé que le whitesmoke) */
	text-decoration: underline;
}

/* ********************************************************* */

canvas {
	 border: 1px solid black;
}

header{grid-area: header;}
#mainNav{grid-area:mainNav;}
main{grid-area:main;}
footer{grid-area: footer;}

body{

	display: grid;
	grid-template-columns:1fr 10fr;
	grid-template-areas: " header header"
						  "mainNav main"
						  " footer footer";
}

