/* J'essaye un truc */
#navigation {
	width: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li {
	background: whitesmoke;
	color: #fff;
	border: 1px solid #00BFFF;
	margin-bottom: 1px;
}

#navigation li a {
	display: block;
	background: whitesmoke;
	color: green;
	font: 1em "Trebuchet MS",Arial,sans-serif; 
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	padding: 4px 0;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
	background: rgb(220,220,220);
	text-decoration: underline;
}

header {

}

#icon_burger_menu {
	height: 40px;
	width: auto;
}

body {
	overflow-wrap: break-word;
	padding: 0;
	margin: 0;
	text-align: center;
}

#navbar {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: aquamarine;
	border-style: solid;
	border-color: bisque;
	align-items: center;
	min-height: 50px;
}

#navbar li {
	display: inline;
	list-style: none;
	width: 100%;
}

#navbar li a{
	display: inline-block;
	color:#04445a;
	outline: none;
	text-decoration: none;
	text-align: center;
}

.burger div{
	width: 25px;
	height: 5px;
	background-color: white;
	margin: 5px;
}

footer {

}

#footer_nav {
	margin: 0;
  	padding: 0;
  	list-style: none;
  	text-align: center;
}

#footer_nav li {
	display: inline;
	margin-right: 1px;
  	color: #fff;
  	background: #c00;
}

#footer_nav li a {
	padding: 4px 20px;
	background: #FFFFFF;
	color: #000000;
	border: 1px dotted #600;
	font: 1em "Trebuchet MS",Arial,sans-serif;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
}

#footer_nav li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #FFA500; /* Orange */
  text-decoration: underline;
}
