body{
    background-color: white;
	background: url("../Images/icon-humbie-grand.png") no-repeat  right -10% top 150px ;
	background-size: 40%;

}
#mainNav{
    text-align: center;
    background-color: white;
	background: url("../Images/icon-humbie-grand.png") no-repeat  right -10% top 150px ;
	background-size: 40%;

}

#navigation li{
    margin: 0;
    list-style: none;
    display: inline;
    padding-left: 2.5%;
    padding-right: 2.5%;

}

#navigation li a{
    font: 20px "Bahnschrift light";
    color: #464646;
    text-decoration: underline;
    display: inline;

}

#barre{
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#0fe8ba ;
    background-color:  #0fe8ba;
}

#remplissage-gauche{
	position: absolute;
	float: left;
	margin-top: 0px;
	height: 80%;

}
#mainNav li:hover {
border-bottom: ridge 2px #0fe8ba;
}