.backLoginPage{

    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    width: fit-content;


}

.backLoginPage:hover{
color: black;
}

#errorDisplay{
    display: none;
    text-align: center;

}
#mail{
    outline: none;
    position: relative;
    left: 30%;
    transform: translate(-30%);

}

#unclickable{
    font-size: 13px;
}


#mail{
    background: rgba(255,255,255,0.1);
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 0.8em;
    width: max-content;
    outline: none;
    color: black;
    outline: none;/* Pour pouvoir changer la couleur de l'input de l'adresse Mail*/
    line-height: 1.4em;
    margin-bottom: 20px;
}


