.backLoginPage{

    display: flex;
    flex-direction: row;
    color: black;
}

.backLoginPage:hover{
color: chartreuse;
font-size: 1.2em;
}

#errorDisplay{
    display: none;
    text-align: center;

}
#mail{
    outline: none;

}

#unclickable{
    font-size: 13px;
}


#mail{
    background: rgba(255,255,255,0.1);
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 0.8em;
    width: max-content;
    outline: none;
    color: black;
}

