.backLoginPage{

    display: flex;
    flex-direction: row;
    color: blueviolet;
}

.backLoginPage :hover{
color: chartreuse;
}

#errorDisplay,#unclickable{
    display: none;

}
#mail{
    outline: none;

}

#unclickable{
    font-size: 13px;
}