body{
    margin: 0;
    padding: 0;
}

#title{

    margin-top: 50px;
    font-size: 40px;
}

#footer-position{
    position: relative;
    bottom: 0;
    width: 100%;
}
#sous-titre{
    margin-top: 50px;
    margin-left: 16%;
}

.sous-sous-titre{
    text-decoration: underline;
}
.wrapper{
    margin-left: 15%;
    font: 18px "Bahnschrift light";
}


/* --- MODIFICATION DE LA TABLE --- */


/* box de centenu principal */
#table-main{

    border-spacing: 0px;
	/*border: 1px solid black;*/
}





strong{
	font-size: 20px;
	font-weight: bold;
	color: #464646;
}

.cell{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid;
    border-color: #0fe8ba;
    border-radius: 50px;
    width: 35%;
    padding: 20px;
    margin: 15px;
    background-color: rgba(222, 222, 222, 0.3);

}

input[type=checkbox] {

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: white;
    border: 4px solid #0fe8ba;
}


#cell-value{
    border: 1px solid;
    border-color: black;

}

.stats{
    justify-content: center;
    display:flex;
    flex-direction: row;
}   

.stats-value{
    padding: 20px;
}

.test-box{
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
}
#nbrres{
    border: 4px solid #0fe8ba;
    background-color: white;
    border-radius: 10px;
    outline: none;
    width: 20px;
}

#sub{
    border: 4px solid #0fe8ba;
    background-color: #0fe8ba;
    color: white;
    border-radius: 10px;
    outline: none;
}