body{
    overflow-wrap: break-word;
}

main{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 40%;
}

h1{
    text-align: center;
}

fieldset{
    width: fit-content;
    border: 2px ridge #2CE4CA;
    box-shadow:   2px 1px 3px mediumslateblue;
}

div{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: fit-content;
}

p{
    text-align: justify;
}

.Input, .valider{
    display: none;
}

input{
    background-color: whitesmoke;
}




