/*
	
	Exemple des propriétés existant en css3

*/

/**************** Taille ABSOLUE ****************/
/* (Déconseillé car pas adapté aux différents type d'écran ordi/smartphone/imprimante) */
p{
	/*  (px: pixels / mm: milimètres / cm: centimètres) */
	font-size: 16px;
}


/**************** Taille RELATIVE (Méthode 1) ****************/
p{
	/*  (xx-small  : minuscule ;
		 x-small   : très petit ;
		 small     : petit ;
		 medium    : moyen ;
		 large     : grand ;
		 x-large   : très grand ;
		 xx-large  : euh… gigantesque.) */
	font-size: small;
}

/**************** Taille RELATIVE (Méthode 2) -> d'autres unités existent... ****************/
p{
	/* (unité em -> joue un rôle d'agrandissement ou de rétrécissement 
		ex: 0.5em correspond à diviser la taille par 2 
		alors que 1.2em augmente la taille de 20% ) */
	font-size: 1.1em;
}


/**************** Modifié la police - selon les police disponible par l'utilisateur ****************/
p{
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
	/* ... cela signifie : Mets la police Impact ou, si elle n'y est pas, Arial Black, ou sinon Arial, 
	ou sinon Verdana, ou si rien n'a marché, mets une police standard (Sans Serif) */
}

/**************** Modifié la police - forcé le téléchargement d'une police ****************/
@font-face{
    font-family: 'MaSuperPolice';
    src: url('MaSuperPolice.eot') format('eot'),
         url('MaSuperPolice.woff') format('woff'),
         url('MaSuperPolice.ttf') format('truetype'),
         url('MaSuperPolice.svg') format('svg'); /* Seul format reconnu sur les iPhone et iPad pour le moment ; */
}

/**************** Italic et Oblique ****************/
em{
	/* Il existe aussi la valeur 'oblique' qui est légérement différente de l'italic */
	font-style: italic; /* Par défault: font-style : normal */
}

/* Gras */
strong{
	font-weight: bold; /* Par défault: font-weight : normal */
}

/**************** Soulignement et autres décorations ****************/
/*
	underline  	  -> souligné ;
	line-through  -> barré ;
	overline      -> ligne au-dessus ;
	blink         -> clignotant. Ne fonctionne pas sur tous les navigateurs (Internet Explorer et Google Chrome, notamment) ;
	none          -> normal (par défaut).
*/
h1{
    text-decoration: underline;
}

/**************** L'alignement ****************/
/*	Fonctionne uniquement sur les balise de type block (<p>, <div>, <h1>, <h2>, ...)
	left  	 -> le texte sera aligné à gauche (par défaut) ;
	center   -> le texte sera centré ;
	right  	 -> le texte sera aligné à droite ;
	justify  -> le texte sera justifié.
*/
p{
    text-align: center;
}


/**************** Les flottants (image flottante) ****************/
/*
	left   -> l'élément flottera à gauche ;
	right  -> l'élément flottera à droite .
*/
/* ATTENTION: Vous devez placer l'élément flottant en premier dans le code HTML. 
Si vous placez l'image après le paragraphe, l'effet ne fonctionnera pas */
/* exemple: 
			<p><img src="flash.gif" class="imageflottante" alt="Image flottante" /></p>
			<p>Ce texte est écrit à côté de l'image flottante.</p>
			<p class="dessous">Ce texte est écrit sous l'image flottante.</p> */
.imageflottante{
	float: left;
}
/*
	left  -> le texte se poursuit en dessous après un float: left;
	right -> le texte se poursuit en dessous après un float: right;
	both  -> le texte se poursuit en dessous, que ce soit après un float: left;  ou après un float: right;
*/
.dessous{
	clear: both;
}


/**************** Couleur du texte ****************/
/*
	white, silver, gray, black, red, ... (16 couleurs utilisable de cette manière en CSS);
	hexadecimal -> #FFFFFF;
	rgb/rgba	-> rgb(255,255,255)
*/
h1{
	color: rgb(255,255,255);
}

/**************** Couleur de fond ****************/
body{ /* La totalité de la page aura un fond blanc par défault (non prioritaire) */
	background-color: rgb(255,255,255);
}

/* <mark> est utilisé afin d'indiquer des fragments de texte pertinents, mais pas forcément important (->utiliser <strong> pour ça)*/
mark{ /* Surlignage (ici en rouge) des éléments présent dans cette balise */
	background-color: rgb(255,0,0);
}

/**************** Image de fond ****************/
div{
	background-image: url("foo.png");
	background-attachment: fixed; /* Le fond restera fixe. Sinon choisir 'scroll' */
	/*
		no-repeat : le fond ne sera pas répété. L'image sera donc unique sur la page ;
		repeat-x  : le fond sera répété uniquement sur la première ligne, horizontalement ;
		repeat-y  : le fond sera répété uniquement sur la première colonne, verticalement ;
		repeat    : le fond sera répété en mosaïque (par défaut).
	*/
	background-repeat: no-repeat;
	/*
		top  	: en haut ;
		bottom  : en bas ;
		left  	: à gauche ;
		right  	: à droite;
		center  : centré.
	*/
	background-position: top right;
}

/* Il est possible d'utiliser la 'super-propriété' suivante, afin de "fusionner les propriétés précédentes.
Il est même possible d'afficher plusieurs image de fond
*/
div{
	background: url("foo.png") fixed no-repeat top right;
}
body
{
	/* Par ordre de visibilité (de la couche la plus haute à la plus basse) */
    background: url("soleil.png") fixed no-repeat top right, url("neige.png") fixed;
}


/**************** La transparence ****************/
/* Pour rendre un block entier transparent */
p{
	/* valeur allant de 0 (transparent) à 1 (opaque) */
    opacity: 0.6;
}

/* Pour rendre un élément transparent */
p{
	 background-color: rgba(255, 0, 0, 0.5); /* Fond rouge à moitié transparent */
}

/**************** Les bordures standard ****************/




/**************** Les bordures arrondies ****************/





/**************** Les ombres ****************/




/**************** Le survol ****************/




/**************** Au moment du clic ****************/




/**************** Lors de la selection ****************/



/**************** Lien déjà visiter ****************/




/****************  ****************/



































